.genericformfield{
    position: absolute;
    left: var(--left);
    top: var(--top);
    width: var(--width);
    height: var(--height);
    background-color: var(--color);
    resize:none;
    font-family:Arial, Helvetica, sans-serif;
    border:none;
    outline:none;
    text-align: var(--align);
    font-size: var(--fontsize);
    z-index: 1000;
  }.genericformfield:hover{
    outline: solid 1px;
  }


.pageBackground{
    position: absolute;
    left: var(--left);
    top: var(--top);
    width: 600px;
    height: 900px;
    background-color: rgb(175, 175, 175);
}